/* Base styling */
html {
    font-size: 100%;
}

body {
    font-family: 'Zain', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    background-color: #57facc;
    padding: 20px;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Increase font size for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }
}

/* Specific styles for the index page */
body.index-page {
    background-color: #1C9C6F;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align to start for text alignment */
    text-align: left;
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto; /* Let height be determined by content */
    margin-bottom: 0; /* Remove margin */
    padding-bottom: 0; /* Ensure no padding */
    width: 100%;
    padding: 0 20px;
}

header h1 {
    font-size: 20rem; /* Adjust size as needed */
    font-weight: 800;
    color: #ffffff;
    line-height: 1.2;
    margin: 0; /* Remove margin */
}

@media (min-width: 768px) {
    header h1 {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {
    header h1 {
        font-size: 6rem;
    }
}

h2 {
    margin: 0; /* Remove margin */
    padding-top: 0; /* Remove padding */
    padding-bottom: 0; /* Remove padding */
    margin-top: 0; /* Ensure no margin at top */
    margin-bottom: 5px; /* Minimal space below */
    color: #ffffff; /* Assuming you want it to be white too */
}

/* Other general styles */
h1, h2, h3 {
    margin: 0; /* Reset margins */
}

p {
    margin: 0 0 10px 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

section {
    margin-bottom: 10px;
}
