/* Set base font size on the root element */
html {
    font-size: 100%; /* Typically 16px */
}

body {
    font-family: 'Zain', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    background-color: #57facc;
    padding: 20px;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Increase font size for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }
}

/* Specific styles for the index page */
body.index-page {
    background-color: #1C9C6F;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* Header styling for the index page */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20vh;
    margin-bottom: 5px; /* Reduced space below the header */
    width: 100%;
    padding: 0 20px;
}

header h1 {
    font-size: 12rem; /* Large font size for h1 */
    font-weight: 800;
    color: #ffffff;
    line-height: 1.2;
    margin: 0; /* Remove default margin */
}

@media (min-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    header h1 {
        font-size: 3rem;
    }
}

/* Specific styles for the portfolio page */
body.portfolio-page {
    background-color: #ffffff;
}

/* General element styles */
header {
    margin-bottom: 5px; /* Reduced space below the header */
}

h2, h3 {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 5px; /* Reduced space below headings */
}

p {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

section {
    margin-bottom: 40px;
}
