/* Set base font size on the root element */
html {
    font-size: 100%; /* Typically 16px */
}

body {
    font-family: 'Zain', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333; /* Default color for body text */
    background-color: #57facc;
    padding: 20px;
    font-size: 1rem; /* Base font size */
}

/* Increase font size for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 1.1rem; /* Slightly larger font for tablets */
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.2rem; /* Larger font for desktops */
    }
}

/* Specific styles for the index page */
body.index-page {
    background-color: #1C9C6F;
}

/* Responsive h1 styling for the index page */
body.index-page h1 {
    font-size: 7rem; /* Base size for h1 on index page */
    font-weight: 800; /* ExtraBold font weight */
    color: #ffffff; /* White color for h1 text */
    line-height: 1.2;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    body.index-page h1 {
        font-size: 2.5rem; /* Larger font size for tablets */
    }
}

@media (min-width: 1024px) {
    body.index-page h1 {
        font-size: 3rem; /* Even larger font size for desktops */
    }
}

/* Specific styles for the portfolio page */
body.portfolio-page {
    background-color: #ffffff;
}

/* General element styles */
header {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}
